@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fcf6ea;
  font-family: Roboto;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 3% 0px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
}

header #logo span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff2f75;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  border-radius: 4px;
}

header #logo p {
  font-size: 1.5rem;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

#banner {
  background: #ffffff;
  margin: 0 10%;
  padding: 30px 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  -webkit-box-shadow: 5px 6px 20px 0px rgba(92, 92, 92, 0.1);
          box-shadow: 5px 6px 20px 0px rgba(92, 92, 92, 0.1);
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#banner h1 {
  color: #444444;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  margin-bottom: 5px;
}

#banner .name {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#banner .info {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 14px;
  margin: 5px 40px;
}

#banner .banner-buttons {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name span {
  position: relative;
  left: 25px;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 15px 2px rgba(206, 89, 55, 0);
  cursor: pointer;
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.name span:hover {
  text-shadow: 0 0 10px #ffffff;
}

.name span:first-child {
  background: rgba(212, 197, 166, 0.6);
  -webkit-transform: translateX(10);
          transform: translateX(10);
}

.name span:nth-child(2) {
  background: rgba(94, 162, 137, 0.6);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.name span:nth-child(3) {
  background: rgba(252, 195, 67, 0.6);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.name span:nth-child(4) {
  background: rgba(255, 135, 15, 0.6);
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.name span:nth-child(5) {
  background: rgba(239, 147, 126, 0.6);
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.name span:last-child {
  background: rgba(197, 96, 220, 0.6);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-buttons button {
  text-decoration: none;
  border-radius: 4px;
  border: #e30075;
  font-size: 1.3rem;
  margin: 5px 30px;
  background: #0090c5;
  color: #ffffff;
  padding: 6px 10px;
  font-weight: 600;
}

.banner-buttons .btn-2 {
  background: rgba(0, 0, 0, 0.05);
  color: #444444;
  text-align: center;
}

@media (min-width: 550px) {
  #banner h1 {
    font-size: 2.5rem;
  }
  #banner .info {
    font-size: 18px;
  }
  .name span {
    width: 60px;
    height: 60px;
    font-size: 2.5rem;
  }
  .name span:first-child {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  .name span:nth-child(2) {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .name span:nth-child(3) {
    -webkit-transform: translateX(-22px);
            transform: translateX(-22px);
  }
  .name span:nth-child(4) {
    -webkit-transform: translateX(-32px);
            transform: translateX(-32px);
  }
  .name span:nth-child(5) {
    -webkit-transform: translateX(-45px);
            transform: translateX(-45px);
  }
  .name span:last-child {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  button {
    height: 50px;
    font-size: 1.5rem;
  }
}

@media (min-width: 760px) {
  .info {
    padding: 0px 5%;
  }
  .banner-buttons {
    padding: 0px 5%;
  }
}

@media (min-width: 900px) {
  #banner {
    display: -ms-grid;
    display: grid;
    grid-gap: 0;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: 50px 80px auto;
        grid-template-rows: 50px 80px auto;
    padding: 15px 3%;
  }
  #banner h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    margin-left: 40px;
  }
  #banner .name {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #banner .info {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    text-align: left;
    padding: 0;
    margin-right: 10px;
  }
  #banner .banner-buttons {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .banner-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .banner-buttons button {
    font-size: 1.5rem;
    height: 60px;
  }
}

#projects {
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
}

#projects .section-dis {
  text-align: center;
  padding: 30px 0;
}

#projects .section-dis span {
  font-size: 3rem;
  font-weight: bold;
}

#projects .section-dis p {
  font-size: 1.5rem;
}

#cards {
  margin: 0 10%;
}

div#pro-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin: 20px 30px;
  padding: 5%;
}

div#pro-card span {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px black;
          box-shadow: 10px black;
  min-height: 50px;
}

div#pro-card p {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */