body{
    padding: 0%;
    margin:0%;
    box-sizing: content-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#696969;
    height: 100%;
    background: rgb(240, 240, 240);
    min-width:150px;
    font-size: 16px;
}
/*header*/
header{
margin:3% 0;
}
/*logo*/
#logo {
    display: inline-flex;
    margin: 0 10%;
}
#logo span{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 47, 117);
    align-self: center;
    padding: 10px;
    border-radius: 4px;
}
#logo p{
    font-size: 1.5rem;
    font-style: italic;
    align-self: center;
    margin: 0;
}


/*bannner*/
#banner{
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    margin: 5% 10%;
    justify-content: center;
    padding: 0 5%;
}
.banner-text{
    margin: 5%;
}
#banner h1{
    color: #444444;
    font-size: 4rem;
    margin: 0;
}
#banner p{
    font-size:2.5rem;
    margin: 0;
}
.banner-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 5%;
    
}

#btn{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 220px;
    border-radius: 4px;
    border: none;
    height: 65px;
}
.btn-1{
    
    background:#0090c5;
    color: #ffffff;
    text-align: center;


}
.btn-2{
    background:rgba(0, 0, 0, 0.05);
    color: #444444;
    text-align: center;
}

/*section-a*/
/*discription*/
div#section-a{
    background-color: #fff;
}
div#section-dis{
    text-align: center;
    padding: 30px 0;
}
div#section-dis span {
    font-size: 3rem;
    font-weight: bold;
}
div#section-dis p {
    font-size: 1.5rem;
}
/*cards*/

div#cards{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
div#pro-card{
    display: flex;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    margin: 20px 30px;
    padding: 5%;
}
div#pro-card span{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px black;
    min-height: 50px;
}
div#pro-card p{
    font-size: 1rem;
}
footer{
    height: 50px;
}
/*media quier*/
@media(max-width:1000px){
    div#cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
    }
    #logo{
        text-align: center;
        margin-bottom: 15px ;
    }
    #banner{
        flex-direction: column;
    }
    .banner-buttons{
        padding-bottom: 10px;
    }
    #btn{
        margin: 2% 0;
    }
    div#section-dis p {
       margin: 0 5%;
    }

}
@media(max-width: 640px){
    
    div#cards{
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
    }
    #banner h1{
        font-size: 2.5em;
    }
    #banner p{
        font-size: 1.5em;
    }
}
@media(max-width: 450px){
    #btn{
        font-size: 1rem;
        width: auto;
        height: 45px;
        min-width: fit-content;
    }
    #banner h1{
        font-size: 1.5em;
        margin: 5px 0;
    }
    #banner p{
        font-size: 1em;
    }
    div#section-dis span {
        font-size: 2rem;
    }
    div#section-dis p {
        font-size: 1.2rem;
    }
}
@media(max-width: 280px){
    
    #btn{
        font-size: 0.5rem;
        min-width: fit-content;
        height: 25px;   
    }
    #logo span {
        font-size: 20px;
    }
    #banner h1{
        font-size: 1em;
        margin: 2px 0;
    }
    #banner p{
        font-size: 0.6em;
        margin:4px 0;
    }
    div#cards{
        margin:0;
    }
}