//============ BANNER =============
#banner {
    background: #ffffff;
    margin: 0 10%;
    padding: 30px 0;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    box-shadow: 5px 6px 20px 0px rgba(92, 92, 92, 0.1);
    // min-height: 60%;
    

    display: grid;
    grid-gap: 5px;
    justify-content: center;
  
    grid-template-columns: auto;
    grid-template-rows:auto;
  
    h1 {
      color: #444444;
     
      grid-column: 1/1;
      grid-row: 1/1;
     
      margin-bottom: 5px;
    }
    .name {
   
      grid-column: 1/1;
      grid-row: 2/3;
    }
    .info {
    
      grid-column: 1/1;
      grid-row: 3/4;
      font-size: 14px;
      margin: 5px 40px;
      // max-width: 360px;
    }
    .banner-buttons {
    
      grid-column: 1/1;
      grid-row: 4/5;
    }
  }
  // ==================== NAME =======================
  .name {
    //   border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  
    span {
      position: relative;
      left: 25px;
      text-transform: uppercase;
      width: 40px;
      height: 40px;
      font-size: 2rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #fff;
      text-shadow: 2px 15px 2px rgba(206, 89, 55, 0);
      cursor: pointer;
      filter: contrast(110%);
      flex-shrink: 0;
    }
    span:hover {
      text-shadow: 0 0 10px #ffffff;
    }
    span:first-child {
      background: rgba(212, 197, 166, 0.6);
      transform: translateX(10);
    }
    span:nth-child(2) {
      background: rgba(94, 162, 137, 0.6);
      transform: translateX(-10px);
    }
    span:nth-child(3) {
      background: rgba(252, 195, 67, 0.6);
      transform: translateX(-20px);
    }
    span:nth-child(4) {
      background: rgba(255, 135, 15, 0.6);
      transform: translateX(-30px);
    }
    span:nth-child(5) {
      background: rgba(239, 147, 126, 0.6);
      transform: translateX(-40px);
    }
    span:last-child {
      background: rgba(197, 96, 220, 0.6);
      transform: translateX(-50px);
    }
  }
  
  // ================== banner BUTTONS =================
  .banner-buttons {
    display: flex;
    flex-direction: column;
  
    button {
      text-decoration: none;
      border-radius: 4px;
      border: #e30075;
      font-size: 1.3rem;
      margin: 5px 30px;
      background: #0090c5;
      color: #ffffff;
      padding: 6px 10px;
      font-weight: 600;
      // max-width: 360px;
      
    }
    .btn-2 {
      background: rgba(0, 0, 0, 0.05);
      color: #444444;
      text-align: center;
    }
  }
  
  //media
@media (min-width:550px){
  #banner { 
    h1 {
      font-size: 2.5rem;
    }
    .info {
      font-size: 18px;
    }
  }
  .name {
    span {
      width: 60px;
      height: 60px;
      font-size: 2.5rem;
    }
    span:first-child {
      transform: translateX(5px);
    }
    span:nth-child(2) {
  
      transform: translateX(-10px);
    }
    span:nth-child(3) {
      transform: translateX(-22px);
    }
    span:nth-child(4) {
      transform: translateX(-32px);
    }
    span:nth-child(5) {
      transform: translateX(-45px);
    }
    span:last-child {
      transform: translateX(-60px);
    }
  }

  button {
    height: 50px;
    font-size: 1.5rem;
  }
}
//ipad
@media (min-width:760px){
  .info {
    padding: 0px 5%;
  }
  .banner-buttons {
    padding: 0px 5%;
  }
}
//laptp
@media (min-width:900px){
  #banner {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 80px auto;
    padding: 15px 3%;
    h1{
      grid-row: 1/2;
      text-align: left;
      margin-left: 40px;
    }
    .name {
      grid-row: 2/3;
      justify-content: left;
    }
    .info {
      grid-row: 3/4;
      text-align: left;
      padding: 0;
      margin-right: 10px;
    }
  .banner-buttons {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
.banner-buttons {
  display: flex;
  justify-content: space-evenly;
  
  button {
    font-size: 1.5rem;
    height: 60px ;
  }
}
}